<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="{% static 'js/main.js' %}" type="text/javascript"></script>
    <title>The Maps</title>

</head>
<body>
    <div class="container">
        <div class="searchbox">
            <input type="text" id="box" onkeyup="cool(this);">
            <div class="search-items" id="suggest"></div>
        </div>
    </div>
    <div id="display">
        <div id="map"></div>
        <div id="meta" >
            <div id="inmeta">
                <h1>Welcome<br> to map service.</h1>
            </div>
    </div>



    </div>


    <script>
        function initMap(){
            var options={
            zoom:8,
            center:{'lat':19.0760,'lng':72.8777},
            }
            var map=new google.maps.Map(document.getElementById('map'),options);

            var marker = new google.maps.Marker({
            position:{'lat':19.0760,'lng':72.8777},
            map:map
            });
        }

    </script>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtY0-Ntfuwgfoo78X5IbUYZDVw8fZJkck&callback=initMap&libraries=&v=weekly"
      async>
    </script>
</body>
</html>